<div class="tab-pane fade <%= @home_tab_active %> text-center" style="padding:100px" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <h1>Showcase your code with Rouge HighLighter Online.</h1>
    <p> 
    No need to install any additional components on your website or add more css or javascript, as the tool generates pure html.
    </p>
    <p>
    Quickly and easily highlight your source code online, and make your blog posts and webpages stand out. Simply select the code language and desired theme, and your code will be ready to share on various platforms.
    </p>
    <h3>216 Languages supported!</h3
    <p>
    Rouge HighLighter Online is free and open source, based on the <a href="https://github.com/rouge-ruby/rouge" target="_blank">Rouge Ruby syntax highlighter</a>.</p>
    <p>It is easy to use and helps make your coding projects more visible and understandable to readers.
    </p>
    <p>
    You can download this website source code from <a href="https://github.com/ZioTester/Rouge-Highlighter-Online" target="_blank">GitHub</a>
    </p>
</div>