
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="paste-tab-pane" role="tabpanel" aria-labelledby="paste-tab" tabindex="0">
    <%= render 'paste_form' %>
  </div>
</div>
